@model HelloWorld.Models.Name

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloName</title>
     
</head>
<body>
    <div>
        <h1 style="padding-top: 300px; text-align:center;">Hello @Model.NamePerson!</h1>
        
    </div>
</body>
</html>
